:root {
  --text-color: #9A9DA0;
  --background-color: #F2F7FD;
  --primary-color: #090c9b;
  --primary-color-light: #343A40;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-color);
}
a {
  text-decoration: none;
  display: block;
}
ul {
  list-style: none;
}
nav {
  color: var(--text-color);
  background-color: var(--primary-color-light);
  width: 100%;
}
.nav__link {
  color: var(--body-color);
  cursor: pointer;
  padding: 1rem;
  text-align: center;
}
.active-link,.nav__link:hover {
  background-color: var(--primary-color-light);
  color: var(--background-color);
}
.nav__list {
  display: flex;
  flex-direction: row;
}
.nav__item {
  border: none;
  border-right: 1px solid var(--body-color);
}
.nav__item:first-child {
  border: none;
  border-left: 1px solid var(--body-color);
  border-right: 1px solid var(--body-color);
}
.container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 10px;
}
.section1 {
  width: 70%;
}
.form-select {
  background-color: #e6e6e6;
  border: 1px solid #000;
  border-radius: .3rem;
  text-align: center;
  width: 100px;
  height: 30px;
}
.form-control {
  background-color: #e6e6e6;
  border: 1px solid #000;
  border-radius: .3rem;
  padding: 9px;
  width: 350px;
  height: 30px;
}
img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  background: #dfdfdf;
}
.Photo {
  padding-left: 40px;
}
.section2 {
  width: 100px;
  position: relative;
  margin: auto;
}
.section2 img {
  border-radius: 50%;
}
.section2 .round {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #0084ff;
  width: 32px;
  height: 32px;
  line-height: 33px;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
}
.section2 .round input[type='file'] {
  position: absolute;
  transform: scale(2);
  opacity: 0;
}
input[type='file']::-webkit-file-upload-button {
  cursor: pointer;
}
.parts1-2,.p1,.sec-1-2 {
  display: flex;
}
.section1-part3 {
  padding-left: 150px;
}
.mail {
  background-color: #e6e6e6;
  border: 1px solid #000;
  border-radius: .3rem;
  padding: 9px;
  width: 500px;
  height: 30px;
}
.post {
  background-color: #e6e6e6;
  border: 1px solid #000;
  border-radius: .3rem;
  padding: 9px;
  width: 500px;
  height: 30px;
}
.addrs {
  padding: 10px;
}
.sec-1 {
  width: 55%;
  padding: 10px;
}
.sec-2 {
  padding: 10px;
  width: 45%;
}
.l1 {
  background-color: #e6e6e6;
  border: 1px solid #000;
  border-radius: .3rem;
  padding: 9px;
  width: 100%;
  height: 30px;
}
.About {
  resize: none;
  width: 100%;
  background-color: #e6e6e6;
  border: 1px solid #000;
  border-radius: .3rem;
  padding: 9px;
  font-size: large;
  height: 85%;
}
.CSC {
  padding-right: 100px;
}
.city {
  background-color: #e6e6e6;
  border: 1px solid #000;
  border-radius: .3rem;
  padding: 9px;
  width: 300px;
  height: 30px;
}
.state {
  background-color: #e6e6e6;
  border: 1px solid #000;
  border-radius: .3rem;
  text-align: center;
  width: 200px;
  height: 30px;
}
.sec-1-3 {
  display: flex;
  width: 100%;
}
.zip {
  background-color: #e6e6e6;
  border: 1px solid #000;
  border-radius: .3rem;
  padding: 9px;
  width: 200px;
  height: 30px;
}
.Zi {
  padding-right: 200px;
}
.END {
  width: 100%;
  padding-left: 42%;
  padding-right: 100px;
}
.save {
  border: 0;
  width: 80px;
  background-color: #0085FC;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-weight: bolder;
  border-radius: 4px;
  padding: 7px;
  margin: 5px 100px 5px 20px;
}
.cancel {
  background-color: #6C767D;
  cursor: pointer;
  width: 80px;
  border: 0;
  color: #fff;
  font-weight: bolder;
  border-radius: 4px;
  padding: 7px;
  margin: 5px 10px 5px 20px;
}